<div class="col-12 mt-5 pt-3 aside">
  <div class="row">
    <div class="sides col-12 text-center ustify-content-center align-items-center">
      <div class="userProgress mb-2">
        <p>List Progress</p>
        <div class="progress">
        <div class="progress-bar" [ngStyle]="{'width': progress}"></div>
        </div>
      </div>
      <div class="females mt-3">
          <p>Female Users</p>
          <p>{{femaleCount}}</p>
      </div>
      <div class="male mt-3">
          <p>Male Users</p>
          <p>{{maleCount}}</p>
      </div>
    </div>
  </div>
</div>
